[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "application/libraries/icalcreator"]
	path = application/libraries/icalcreator
	url = git://github.com/iCalcreator/iCalcreator.git
[submodule "assets/js/chartjs"]
	path = assets/js/chartjs
	url = https://github.com/nnnick/Chart.js.git
[submodule "assets/js/chartjs-legend"]
	path = assets/js/chartjs-legend
	url = https://github.com/bebraw/Chart.js.legend.git
[submodule "assets/font-awesome"]
	path = assets/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "assets/Modernizr"]
	path = assets/Modernizr
	url = https://github.com/Modernizr/Modernizr.git
