body {
    background: #FFF url(../img/background.png) repeat top left;
}

thead td {
    text-align: center;
    font-weight: bold;
}

label {
    font-weight: bold;
}

@media only screen  and (min-width: 980px) {
    .main-container {
        margin-top: 60px;
    }
}

.admin-menu.double-nav {
    top: 40px;
}

table td.text-align-left, .text-align-left {
    text-align: left;
}

table td.text-align-center, .text-align-center {
    text-align: center;
}

table td.text-align-right, .text-align-right {
    text-align: right;
}

.main-container {
    margin-bottom: 150px;
}

.footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 5px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    width: 100%;
}
.footer p {
    margin-bottom: 0;
    color: #777;
}
.footer-links {
    margin: 10px 0;
}
.footer-links li {
    display: inline;
    padding: 0 2px;
}
.footer-links li:first-child {
    padding-left: 0;
}


@media (max-width: 767px) {
    .main-container {
        margin-bottom: 0;
    }
    /* Unfloat the back to top link in footer */
    .footer {
        position: relative;
        bottom: 0;
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer p {
        margin-bottom: 9px;
    }
}

.legend-identifier {
    float: left;
    display: block;
    width: 15px;
    height: 15px;
    border: 2px solid #000;
    margin-right: 5px;
}