body {
    background: #FFF url(../img/background.png) repeat top left;
}

thead td {
    text-align: center;
    font-weight: bold;
}

label {
    font-weight: bold;
}

@media only screen  and (min-width: 980px) {
    .main-container {
        margin-top: 60px;
    }
}

.admin-menu.double-nav {
    top: 40px;
}

table td.text-align-left {
    text-align: left;
}

table td.text-align-center {
    text-align: center;
}

table td.text-align-right {
    text-align: right;
}

/*table.table-striped tbody tr:nth-child(odd) td {
    background-color: rgba(240, 240, 240, 0.4);
}*/