body {
    background: #FFF url(../img/background.png) repeat top left;
}

thead td {
    text-align: center;
    font-weight: bold;
}

@media only screen  and (min-width: 980px) {
    .container.single-nav {
        margin-top: 50px;
    }

    .container.double-nav {
        margin-top: 100px;
    }
}

@media (max-width: 979px) {
    .admin-menu.double-nav {
        margin-bottom: 0;
    }
}

.admin-menu.double-nav {
    top: 40px;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}