@media only screen and (min-width: 1200px) {
    body {
        padding-top: 50px;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 980px) {
    .container.single-nav {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 767px) {
    table.no-more-tables td.actions {
        padding-left: 0;
        text-align: right;
    }
}

tr:nth-child(2n) td {
    background-color: #fafafa;
}