.clear {
    clear: both;
}

#stadium {
    position: relative;
    width: 320px;
    background-color: #eee;
}

#pitch {
    position: relative;
    width: 320px;
    height: 482px;
    background: url(../img/football-pitch.png) #41c433 top center no-repeat;
}

#dugout {
    position: relative;
    width: 320px;
    background-color: #000;
    padding-top: 20px;
}

.position {
    position: absolute;
    width: 80px;
    height: 70px
}

.position .marker {
    display: block;
    border-radius: 20px;
    padding-top: 3px;
    width: 20px;
    height: 17px;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    background-color: #fff;
    border: 3px #c00 solid;
    color: #c00;
    font-size: 12px;
}

.position .player {
    position: relative;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    color: #eee;
}

.position .points {
    position: relative;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    font-size: 10px;
    color: #eee;
}

.position.gk {
    left: 120px;
    bottom: 10px;
}



.formation-5-a-side .position.def1, .formation-7-a-side .position.def1, .formation-6-a-side .position.def1, .formation-6-a-side .position.def2, .formation-7-a-side .position.def2 {
    bottom: 100px;
}

.formation-5-a-side .position.def1 {
    left: 120px;
}

.formation-6-a-side .position.def1, .formation-7-a-side .position.def1 {
    left: 60px;
}

.formation-6-a-side .position.def2, .formation-7-a-side .position.def2 {
    left: 180px;
}



.formation-5-3-2-sweeper .position.sw {
    left: 120px;
}

.formation-5-3-2-sweeper .position.sw {
    bottom: 80px;
}



.position.rb, .formation-4-4-2 .position.rb, .formation-4-3-3-wide .position.rb, .formation-4-3-3-narrow .position.rb, .formation-4-2-4 .position.rb, .formation-4-5-1 .position.rb, .formation-5-4-1 .position.rb, .formation-5-3-2 .position.rb, .formation-5-3-2-sweeper .position.rb {
    left: 240px;
    bottom: 110px;
}

.position.lb, .formation-4-4-2 .position.lb, .formation-4-3-3-wide .position.lb, .formation-4-3-3-narrow .position.lb, .formation-4-2-4 .position.lb, .formation-4-5-1 .position.lb, .formation-5-4-1 .position.lb, .formation-5-3-2 .position.lb, .formation-5-3-2-sweeper .position.lb {
    left: 0;
    bottom: 110px;
}

.position.cb1, .position.cb2, .position.cb3, .formation-4-4-2 .position.cb1, .formation-4-4-2 .position.cb2, .formation-4-3-3-wide .position.cb1, .formation-4-3-3-wide .position.cb2, .formation-4-3-3-narrow .position.cb1, .formation-4-3-3-narrow .position.cb2, .formation-4-2-4 .position.cb1, .formation-4-2-4 .position.cb2, .formation-4-5-1 .position.cb1, .formation-4-5-1 .position.cb2, .formation-4-2-3-1 .position.cb1, .formation-4-2-3-1 .position.cb2 {
    bottom: 100px;
}

.position.cb1, .formation-4-4-2 .position.cb1, .formation-4-3-3-wide .position.cb1, .formation-4-3-3-narrow .position.cb1 {
    left: 80px;
}

.position.cb2, .formation-4-4-2 .position.cb2, .formation-4-3-3-wide .position.cb2, .formation-4-3-3-narrow .position.cb2 {
    left: 160px;
}

.formation-3-4-3 .position.cb1 {
    left: 120px;
}

.formation-3-4-3 .position.cb2, .formation-3-5-2 .position.cb2, .formation-3-6-1 .position.cb2 {
    left: 40px;
}

.formation-3-4-3 .position.cb3, .formation-3-5-2 .position.cb3, .formation-3-6-1 .position.cb3 {
    left: 200px;
}

.formation-5-4-1 .position.cb1, .formation-5-3-2 .position.cb1, .formation-3-5-2 .position.cb1, .formation-3-6-1 .position.cb1 {
    left: 120px;
    bottom: 90px;
}

.formation-5-4-1 .position.cb2, .formation-5-3-2 .position.cb2, .formation-5-3-2-sweeper .position.cb1 {
    left: 60px;
}

.formation-5-4-1 .position.cb3, .formation-5-3-2 .position.cb3, .formation-5-3-2-sweeper .position.cb2 {
    left: 180px;
}

.position.cb3 {
    left: 120px;
}

.formation-4-2-3-1 .position.cb1, .formation-4-2-3-1 .position.cb2 {
    bottom: 90px;
}



.position.rwb, .formation-5-3-2 .position.rwb, .position.lwb, .formation-5-3-2 .position.lwb, .formation-5-3-2-sweeper .position.lwb {
    bottom: 150px;
}

.position.rwb, .formation-5-3-2 .position.rwb, .formation-5-3-2-sweeper .position.rwb {
    left: 240px;
}

.position.lwb, .formation-5-3-2 .position.lwb, .formation-5-3-2-sweeper .position.lwb {
    left: 0;
}


.position.dm1, .position.dm2, .formation-4-4-2-diamond .position.dm, .formation-3-5-2 .position.dm, .formation-3-6-1 .position.dm1, .formation-3-6-1 .position.dm2, .formation-4-2-3-1 .position.dm1, .formation-4-2-3-1 .position.dm2 {
    bottom: 160px;
}

.formation-4-5-1 .position.dm1, .formation-4-4-2-diamond .position.dm, .formation-3-5-2 .position.dm {
    left: 120px;
}

.formation-3-6-1 .position.dm1, .formation-4-2-3-1 .position.dm1 {
    left: 80px;
}

.formation-3-6-1 .position.dm2, .formation-4-2-3-1 .position.dm2 {
    left: 160px;
}



.formation-5-a-side .position.mid1, .formation-5-a-side .position.mid2, .formation-6-a-side .position.mid1, .formation-6-a-side .position.mid2, .formation-7-a-side .position.mid1, .formation-7-a-side .position.mid2 {
    bottom: 210px;
}

.formation-5-a-side .position.mid1, .formation-6-a-side .position.mid1, .formation-7-a-side .position.mid1 {
    left: 60px;
}

.formation-5-a-side .position.mid2, .formation-6-a-side .position.mid2, .formation-7-a-side .position.mid2 {
    left: 180px;
}


.position.rm, .formation-4-4-2 .position.rm, .formation-3-4-3 .position.rm, .formation-4-5-1 .position.rm, .formation-5-4-1 .position.rm, .formation-4-2-3-1 .position.rm {
    left: 240px;
    bottom: 240px;
}

.position.lm, .formation-4-4-2 .position.lm, .formation-3-4-3 .position.lm, .formation-4-5-1 .position.lm, .formation-5-4-1 .position.lm, .formation-4-2-3-1 .position.lm {
    left: 0;
    bottom: 240px;
}

.formation-4-5-1 .position.rm {
    left: 240px;
    bottom: 260px;
}

.formation-4-5-1 .position.lm {
    left: 0;
    bottom: 260px;
}



.position.cm1, .position.cm2, .position.cm3, .formation-4-4-2 .position.cm1, .formation-4-4-2 .position.cm2, .formation-3-4-3 .position.cm1, .formation-3-4-3 .position.cm2, .formation-4-2-4 .position.cm1, .formation-4-2-4 .position.cm2, .formation-4-5-1 .position.cm1, .formation-4-5-1 .position.cm2, .formation-4-5-1 .position.cm3 {
    bottom: 210px;
}

.position.cm1, .formation-4-4-2 .position.cm1, .formation-3-4-3 .position.cm1, .formation-5-4-1 .position.cm1 {
    left: 80px;
}

.position.cm2, .formation-4-4-2 .position.cm2, .formation-3-4-3 .position.cm2, .formation-5-4-1 .position.cm2 {
    left: 160px;
}

.formation-4-2-4 .position.cm1 {
    left: 70px;
}

.formation-4-2-4 .position.cm2 {
    left: 170px;
}

.formation-3-5-2 .position.cm1 {
    left: 70px;
}

.formation-3-5-2 .position.cm2 {
    left: 160px;
}


.position.cm3, .formation-4-3-3-wide .position.cm1, .formation-4-3-3-narrow .position.cm1, .formation-5-3-2 .position.cm1, .formation-4-3-2-1 .position.cm1, .formation-5-3-2-sweeper .position.cm1, .formation-4-5-1 .position.cm1 {
    left: 120px;
}

.formation-4-3-3-wide .position.cm2, .formation-4-3-3-narrow .position.cm2, .formation-5-3-2 .position.cm2, .formation-4-3-2-1 .position.cm2, .formation-5-3-2-sweeper .position.cm2, .formation-4-5-1 .position.cm2 {
    left: 40px;
}

.formation-4-3-3-wide .position.cm3, .formation-4-3-3-narrow .position.cm3, .formation-5-3-2 .position.cm3, .formation-4-3-2-1 .position.cm3, .formation-5-3-2-sweeper .position.cm3, .formation-4-5-1 .position.cm3 {
    left: 200px;
}



.position.rw, .position.lw {
    bottom: 310px;
}

.position.rw {
    left: 240px;
}

.position.lw {
    left: 0;
}



.formation-4-4-2-diamond .position.am, .formation-4-2-3-1 .position.am {
    left: 120px;
}

.formation-4-4-2-diamond .position.am, .formation-4-2-3-1 .position.am {
    bottom: 280px;
}

.formation-4-3-2-1 .position.am1, .formation-3-6-1 .position.am1 {
    left: 80px;
}

.formation-4-3-2-1 .position.am2, .formation-3-6-1 .position.am2 {
    left: 160px;
}

.formation-4-4-2-diamond .position.am, .formation-4-3-2-1 .position.am1, .formation-4-3-2-1 .position.am2, .formation-3-6-1 .position.am1, .formation-3-6-1 .position.am2 {
    bottom: 280px;
}



.formation-4-4-1-1 .position.ss {
    left: 100px;
}

.formation-4-4-1-1 .position.ss {
    bottom: 300px;
}



.position.st1, .position.st2, .position.st3, .formation-4-4-2 .position.st1, .formation-4-4-2 .position.st2, .formation-4-2-4 .position.st1, .formation-4-2-4 .position.st2, .formation-5-3-2 .position.st1, .formation-5-3-2 .position.st2, .formation-4-4-1-1 .position.st1, .formation-4-3-2-1 .position.st1, .formation-5-3-2-sweeper .position.st1, .formation-4-2-3-1 .position.st1 {
    bottom: 350px;
}

.position.st1, .formation-4-4-2 .position.st1, .formation-4-2-4 .position.st1, .formation-5-3-2 .position.st1, .formation-5-3-2-sweeper .position.st1 {
    left: 80px;
}

.position.st2, .formation-4-4-2 .position.st2, .formation-4-2-4 .position.st2, .formation-5-3-2 .position.st2, .formation-5-3-2-sweeper .position.st2 {
    left: 160px;
}

.formation-3-4-3 .position.st1, .formation-4-3-3-wide .position.st1, .formation-4-3-3-narrow .position.st1, .formation-4-5-1 .position.st1, .formation-5-4-1 .position.st1, .formation-4-3-2-1 .position.st1, .formation-3-6-1 .position.st1, .formation-4-2-3-1 .position.st1 {
    left: 120px;
}

.formation-4-4-1-1 .position.st1 {
    left: 140px;
}

.formation-3-4-3 .position.st2, .formation-4-3-3-narrow .position.st2 {
    left: 40px;
}

.formation-3-4-3 .position.st3, .formation-4-3-3-narrow .position.st3 {
    left: 200px;
}

.formation-3-5-2 .position.st1 {
    left: 80px;
}

.formation-3-5-2 .position.st2 {
    left: 160px;
}



.formation-5-a-side .position.att1, .formation-6-a-side .position.att1, .formation-7-a-side .position.att1, .formation-7-a-side .position.att2 {
    bottom: 340px;
}

.formation-5-a-side .position.att1, .formation-6-a-side .position.att1 {
    left: 120px;
}

.formation-7-a-side .position.att1 {
    left: 60px;
}

.formation-7-a-side .position.att2 {
    left: 180px;
}






.position.sub {
    position: relative;
    float: left;
}